// Desktop
.fullscreen-v-img {
    background-color: rgba(255, 255, 255, 0.7) !important;
    position: fixed !important;
    .header-v-img {
        font-size: 16px;
        padding: 1.3em;
        height: $header-top !important;
        background: transparent !important;
        .count-v-img, .buttons-v-img {
            width: 2.75em !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            font-family: "futura-pt", sans-serif !important;
            background-color: black;
            opacity: 1;
            text-align: center;
            padding: 0.6em 0em;
            letter-spacing: 1px;
        }
        .buttons-v-img {
            background-color: white;
            color: black;
            padding: 0.45em 0em;
            margin-top: -0.25em;
            opacity: 1 !important;
            box-shadow: 0 0rem 0rem 0 black;
            span {
                font-size: 1.2rem;
                color: black !important;
            }
            &:hover {
                box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.5);
            }
        }
    }
    .content-v-img {
        touch-action: manipulation;
    }
    .prev-v-img, .next-v-img {
        background: transparent !important;
        box-shadow: inset 0.3rem -0.3rem 0 0 rgba(0, 0, 0, 1);
        transform: rotate(45deg);
        margin-left: 1.5em;
        svg {
            display: none;
        }
    }
    .next-v-img {
        margin-right: 1.5em;
        transform: scaleX(-1) rotate(45deg);
    }
}

// Mobile
.slider {
    background-color: rgba(255, 255, 255, 0.7) !important;
    z-index: 1080 !important;
}

// Home Page
.home-slider-height {
    height: $slider-full !important;
}
