.v-100 {
    height: 100% !important;
}
.vh-100 {
    height: 100vh;
}
.w-100 {
    width: 100% !important;
}
.vw-100 {
    width: 100vw;
}
.vh-80 {
    height: 80vh;
}
.o-50 {
    opacity: 0.5;
}
.bg-cover {
    background-size: cover;
    background-position: center center;
}
.bg-black {
    background-color: #000000!important;
}
.p-relative {
    position: relative !important;
}
.p-absolute {
    position: absolute !important;
}
.p-top {
    top: 0;
}
// smooth scrolling everywhere
* {
    scroll-behavior: smooth;
}
.overflow-scroll {
    -webkit-overflow-scrolling: touch !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -webkit-backface-visibility: hidden !important;
    -webkit-perspective: 1000 !important;
    transform: translate3d(0, 0, 0) !important;
    backface-visibility: hidden !important;
    perspective: 1000 !important;
}
