@import './variables.scss';

.nuxt-content {
  p {
    font-size: 1.3em;
  }

  img,
  iframe {
    margin-top: 2em;
    margin-bottom: 2em;
    border: 3vw solid $matte-color;
  }

  img {
    width: 100%;
  }

  h2 {
    font-weight: 300;
    font-size: 2.1em;
    margin-bottom: 0.5em;
  }
}

.no-image-border img {
  border: none;
}
