// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$font-size-root: 18px;

$body-font-family: "Futura", "PT Sans",
sans-serif;
$heading-font-family: "Futura", "Hind", sans-serif;

$header-height: 80px;
$header-top: $header-height;
$slider-full: calc(100vh - #{$header-height} - 12px);
$full-page: calc(100vh - #{$header-height});
$slider-compact: calc(60vh - #{$header-height});
$primary: black;
$custom-control-indicator-size: 1em;

$matte-color: #eeeeee;
